@model hospital_project.Models.Researcher

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Researcher</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Projects.ProjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Projects.ProjectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResearcherName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResearcherName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResearchLeader)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResearchLeader)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ResearcherId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
