@model IEnumerable<hospital_project.Models.Researcher>

@{
    ViewBag.Title = "Index";
}

<h2>List of Researcher</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ResearcherName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Projects.ProjectName)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.ResearchLeader)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ResearcherName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Projects.ProjectName)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.ResearchLeader)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ResearcherId }) |
            @Html.ActionLink("Details", "Details", new { id = item.ResearcherId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ResearcherId })
        </td>
    </tr>
}

</table>
